<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config />

    <bean id="claseModeloBean" class="com.ebac.modulo39.ClaseModelo" />

    <!--Bean por setter-->
    <bean id="claseServicioBean" class="com.ebac.modulo39.ClaseServicioSetter">
        <property name="claseModelo" ref="claseModeloBean"/>
    </bean>
    <!--Bean por constructor-->
    <bean id="claseServicioXconstructor" class="com.ebac.modulo39.ClaseServicioPorConstructor">
        <constructor-arg ref="claseModeloBean" />
    </bean>

    <!--Bean por anotacion-->
    <bean id="cSxAnotacion" class="com.ebac.modulo39.ClaseServicioPorAnotacion">

    </bean>
</beans>